<!DOCTYPE html>
<html lang="en">
<head>
  <title>Portal SDB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    body {
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Arial', sans-serif; 
    color: #33475b;    
    }
    img {
    max-width:500px;
    max-height:500px;
    }
    .camera
    {
    width: 480px;
    height: 480px;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    }
    .hidden-form {
      display: none;
      }
    </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <p><center>
        <div id="camera" class="camera">
            {% if detectionComplete %}
                Hello Nobody
            {% else %}
                <img src="/video_feed" />
            {% endif %}
        </div>
        <a href="/exit_video_feed" class="btn btn-primary" id="next">Next</a>
        </center></p>

        <script>
          
    const nextButton1 = document.getElementById('next');
    
    {% if detectionComplete %}
    nextButton1.classList.remove('hidden-form');
    {% endif %}
        </script>
</body>
</html>